<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://campuspulsenugetservice20180926030025.azurewebsites.net/nuget/" />
    </config>
	<apikeys>
    <add key="https://campuspulsenugetservice20180926030025.azurewebsites.net/nuget/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAsGUn8rkfJ0a/TA0SDwvpXgAAAAACAAAAAAADZgAAwAAAABAAAACe70SHsXI+zh7z0xdBoRAxAAAAAASAAACgAAAAEAAAAIHgYWBB2/NV5svS2/j/6OooAAAAx9kFLaS/1VjHM74Mg8NAVGBebp3l8lfLCo6YHuaC7Bs9OS0WEX7jWxQAAAAg/8KrFZMTS4JJtkffQsaReLaoog==" />
  </apikeys>
</configuration>